$color-main: rgb(252, 196, 150);
$font-main: 'Merriweather', sans-serif;

body {
    text-align: center;
    font-family: $font-main;
    background-color: $color-main;
}

.converterCtoF,
.converterFtoC {
    h1 {
        font-size: 24px;
    }
}

.output {
    font-size: 18px;
    padding: 10px 0;
}
